
VUE_APP_ID_SERVICES=key
VUE_APP_ID_TEMPLATE=key
VUE_APP_PUBLIC_KEY=key

VUE_APP_LOCATION_GIT=https://github.com/example
VUE_APP_LOCATION_LINKEDINK=https://www.linkedin.com/in/example-312
VUE_APP_NUMBER_PHONE=**********
VUE_APP_LOCATION_GMAIL=example@gmail.com
